.main
{
    position: fixed;
    height: 100%;
    width: 100%;
    /*background: #999999;*/
    background: radial-gradient(#00FF66, #003300);
    padding-top: 10px;
}

.maingame
{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.field
{
    padding: 4px;
    border: 3px solid black;
    margin: 20px auto 0 auto;
    background: #009933;
    width: 624px;
    height: 624px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}
@keyframes  portalwheel {
    from {
        transform: rotate(360deg);
    }
    to { 
        transform: rotate(0deg);
    }  
}

.portal
{
    animation: portalwheel 2s  infinite linear;
}

.cell
{
    border-radius: 6px;
    margin: 0px 0px 0px 0px;
    background: #009933;
    width: 24px;
    height: 24px;
}

body
{
    margin: 0;
}


/*----------------------------------SCORE--------------------------------*/

.infopanel
{
    background: #FFFFCC;
    width: 550px;
    margin: 0 auto 5px auto;
    border-radius: 25px;
    font-family: "Comic Sans MS",Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 50px;
    padding: 0 0 0 20px;
    text-align: center;
}

.lableTime
{
    margin: auto;
    display: inline-block;
}

.time
{
    width: 40px;
    display: inline-block;
    margin-right: 30px;
}

.lableScore
{
    display: inline-block;
}

.score
{
    width: 40px;
    display: inline-block;
    margin-right: 30px;
}

.labelBestScore
{
    display: inline-block;
}




/* ------------------TOTAL------------------*/

@keyframes statistic {
    from {
      width: 0px; 
      border-radius: 0px;
      background: rgba(59, 243, 142, 0);
      color: rgba(0, 0, 0, 0);
    }
    60% { color: rgba(0, 0, 0, 0); }
    to { 
      border-radius: 50px;
      width: 600px;
      background: rgba(59, 243, 142, 0.75);
      color: rgba(0, 0, 0, 1);
    }  
}

@keyframes button {
    from{
        background-color: rgba(203, 236, 186, 0);
        color: rgba(0, 0, 0, 0);
    }
    60% { 
        background-color: rgba(203, 236, 186, 0); 
        color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(203, 236, 186, 1);
        color: rgba(0, 0, 0, 1);
    }
}

.statistic
{
    visibility: visible;
    animation: statistic 1.5s ease;
    width: 600px;
    height: 300px;
    border-radius: 50px;
    background: rgba(59, 243, 142, .75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font-family: "Comic Sans MS",Arial, Helvetica, sans-serif;
    
    
}

.lose
{   
    font-size: 40px;
    letter-spacing: 10px;
    margin-top: 5%;
}

.label_total
{
    display: inline-block;
    font-size: 35px;
    margin-top: 4%;
    margin-right: 2%;
}

.total
{
    font-size: 30px;
    display: inline-block;
}

input {
    outline: none !important;
  }

.tryAgain:hover
{
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.tryAgain
{
    animation: button 3s ease;
    display: block;
    margin: 6% auto auto auto;
    font-family: "Comic Sans MS",Arial, Helvetica, sans-serif;
    background-color: rgb(203, 236, 186);
    height: 75px;
    width: 175px;
    cursor: pointer;
    font-size: 30px;
    border: none;
    border-radius: 30px;
}


/*-----------------------MOBILE CONTROLS-----------------------*/

.mobilekeys
{
    visibility: hidden;
    margin: auto;
    width: 600px;
    height: 600px;
    margin-top: 13em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    background: url(../sprites/mobileControls.svg);
}

.key
{
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0);
    
}

#up
{
    margin-bottom: 100px;
}
#down
{
    margin-top: 100px;
}

.groupedkey
{
    
    display: flex;
    flex-direction: column;
}
